.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  .title {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .preview {
    display: flex;

    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .collection-preview .preview {
    flex-direction: row;
    justify-content: space-between;
  }
}
