.input {
  padding: 6px 20px;
  border-bottom: 1px solid black !important;
  border: none;
  border-radius: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
