.button {
  padding: 6px 25px;
  background: black;
  color: white;

  border: none;
  // margin: 0 5%;
  // position: relative;
  // top: 258px;
  width: 90%;

  &:hover {
    color: grey;
    background-color: black;

    transition: 2ms;
  }
}
