.list-view {
  display: flex;
  flex-direction: row;
  height: 100px;
  align-items: center;
  justify-content: space-between;

  .image {
    width: 22%;
    height: 90%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .name {
    width: 10%;
  }

  .price {
    width: 10%;
  }

  .btn-group {
    width: 30%;
    display: flex;

    .btn {
      width: 50%;
    }
  }

  // .collection-footer {
  //   width: 100%;
  //   height: 5%;
  //   display: flex;
  //   justify-content: space-between;
  //   font-size: 18px;
  // }

  // .wishlist {
  //   position: relative;
  //   right: 35%;
  //   top: 2%;
  // }
}
